@import url(//db.onlinewebfonts.com/c/2f4b0e58eb39868d3fad42ed32abdd38?family=ActaPosterW01-Regular);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/* main variables */
:root {
    --bg-color: #F2C166;
    --link-color: #07B2D9;
    --color-3: #0487D9;
    --color-4: #BF6D4E;
    --color-5: #D9320D;
    --color-6: #6f6f6f;

    --primary-font: 'Archivo Black', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --main-text-color: #000;

    --white-space: 1rem;
}

header {
    grid-template-areas: "header";
    text-decoration: none;
    font-family: var(--secondary-font);
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: white;
}

.logo {
    height: 87px;
    padding: 1vw;
}

.top-nav {
    width: 100%;
    box-sizing: border-box;
    padding-right: 40px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.top-nav li {
    margin: 0 0 0 25px;
    list-style-type: none;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.banner-img {
    background-image: url(https://lp-cms-production.imgix.net/2019-06/GettyImages-109726358_high.jpg?auto=format&fit=crop&ixlib=react-8.6.4&h=520&w=1280&q=50&dpr=2);
    background-size: cover;
    margin-top: -130px;
    max-height: 500px;
    padding-bottom: 32px;
    padding-top: 65px;
    min-height: 200px;
}

#homepage-header h1 {
    margin-top: 10vw;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.375;
    font-family: var(--secondary-font);

}

h3 {
    font-size: 1rem;
    font-family: var(--secondary-font);
    font-weight: 300;
    margin-top: -2vw;
}

h2 {
    font-family: var(--secondary-font);
    font-style: italic;
    font-size: 1.25rem;

}

h4 {
    font-family: var(--secondary-font);
    font-style: italic;
    font-size: 17px;
    font-weight: 100;
}

p {
    font-size: 0.75rem;
    font-family: var(--secondary-font);
}

a h2 {
    text-align: center;
    color: white;
    padding: 5vw 0vw 0vw 0vw;
}

#homepage-body h1,
h3 {
    text-align: center;
    color: white;

}

#homepage-header a {
    color: white;
}

.cities-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15vw 15vw 15vw;
    grid-auto-flow: row dense;

}


/*//styling activites page*/
.activities-container {
    display: grid;
    max-width: 75%;
    grid-template-columns: repeat(auto-fiLL, minmax(300px, 1fr));
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    grid-gap: 1vw;

}

.activity-image {
    width: 100%;
    height: auto;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.activity {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px !important;
    margin: 1vw;
    border-radius: 16px;
    cursor: pointer;
}

.activity-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.activity-details h4 {
    grid-area: 1/1/2/2;
    margin-bottom: 0;
    margin-top: 0.2vw;
    margin-left: 0.5vw;
}

.activity-details img {
    grid-area: 1/2/3/3;
    width: 30px;
    height: 30px;
    margin-left: 5vw;
}

.activity p {
    grid-area: 2/1/3/2;
    margin-bottom: 0;
    margin-top: 0.2vw;
    margin-left: 1vw;


}

.city {
    background-image: url(https://lp-cms-production.imgix.net/2019-06/4fbebbfd12d7259561df48a97d9d196a0b45f5bd5a33f358708f801c350558b2.jpg?fit=crop&w=400&h=400&exp=-10&sat=30&auto=format&ixlib=react-8.6.4&w=400&h=400&dpr=2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin: 2vw 1.5vw 2vw 1vw;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px !important;
    border-radius: 16px;
    line-height: 18px;
    width: 22vw;
    height: 13vw;
}

footer {
    background: var(--color-4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90px;
    width: 100%;
    background-color: #f7f5f5;
    box-sizing: border-box;
    padding: 0 40px;
    position: absolute;
    color: var(--color-6);
}

.city-header {
    margin: 2vw 0vw -3vw 5vw;
}

.city-description {
    text-align: center;
}

.sorting-menu {
    text-align: center;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.sorting-menu ul {
    text-align: center;
    display: flex;
    background-color: var(--color-4);
    width: 100%;
    padding: 0vw 0vw 0vw 0vw;
    align-content: space-between;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.active-menu {
    position: fixed;
    top: 0;
}

.sorting-menu li {
    padding: 3vw 3vw 2vw 3vw;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    color: white;
}

.sorting-menu li:active {
    color: black;
    background-color: white;
}

.sorting-menu li:hover {
    color: black;
    background-color: var(--color-3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.sorting-menu a {
    color: white;
}

.main-img-city {
    max-width: 100%;
    padding: 0vw 0vw 5vw 5vw;
    margin: 0;
    height: auto;
}

filter:focus {
    color: red;
}

filter:active {
    color: hotpink;
    outline: 1px lightgray dotted;
    outline-offset: 0;
}
