
@import url(//db.onlinewebfonts.com/c/2f4b0e58eb39868d3fad42ed32abdd38?family=ActaPosterW01-Regular);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/* main variables */
:root {
    --bg-color: #F2C166;
    --link-color: #07B2D9;
    --color-3: #0487D9;
    --color-4: #BF6D4E;
    --color-5: #D9320D;

    --primary-font: 'Archivo Black', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --main-text-color: #000;

    --white-space: 1rem;
}
